

.App {
    background-color:rgb(255, 255, 255);
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("pest.jpg") no-repeat center fixed;
    background-size: cover;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgba(250, 249, 249, 0.16) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color:rgb(255, 255, 255);
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  .img{
    border-radius:50%;
    height: 120px;
    margin:5px 100px;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800; 
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }