/* .blur{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    background-color: rgb(124, 155, 124); */
    /* background: url('blur1.jpg') no-repeat center fixed;
    border-radius: 8px; */
/* }*/

.hp{
   background-color: black;
} 
