.fw-bold {
    background-color: rgb(169, 206, 191);
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    text-decoration: none;
    color: #222222;
    font-size: 1.9rem;
    font-weight: bold;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu span {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #ffcc00;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: flex;
    }
  
    ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      z-index: 1;
      display: flex;
    }
}