.custom-cards {
    width: 19.5rem;
    height: 45rem;
    margin: 12px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border-style: solid;
    border-color: rgb(136, 136, 136);
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }
  
  .custom-card-img {
    border-radius: 5px;
    margin: 10px;
    height: 287px;
    width: 287px;
  }
  
  .custom-card-body {
    padding: 1.25rem;
  }
  
  .custom-card-text {
    color: #666;
  }
  
  .custom-btn {
    margin-top: 3px;
    margin-left: 170px;
    background-color: #d32a2a;
    color: #fff;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-btn:hover {
    background-color: #aa6b4e;
  }
  
  .naane{
    display: inline-block;
  }
  table{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0px;
    width: 18rem;
  }
  .pbg{
    background: url("first.jpg") no-repeat center fixed;
      background-size: cover;
      padding:30px 120px;
      /* height: 747px; */
   }
   td{
    padding: 5px;
   }
   